
body {
    background: #000814;
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000814; /* your dark background */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}






.square{
    position: relative;
    width:400px;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.square span:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: radial-gradient(#6b72ff00 50%,#000dff3b 40%);
    box-shadow:0 0 50px rgb(25,0,255),inset 0 0 50px rgb(25,0,255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition:0.5s;
    animation:animate1 6s linear infinite;

}

h5 {
    font-family: 'Audiowide', cursive;
    color:#bdefff
}

.square span:nth-child(2){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: radial-gradient(#6b72ff00 50%,#000dff3b 40%);
    box-shadow:0 0 50px rgb(25,0,255),inset 0 0 50px rgb(25,0,255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition:0.5s;
    animation:animate2 4s linear infinite;
    
}
.square span:nth-child(3){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: radial-gradient(#6b72ff00 50%,#000dff3b 40%);
    box-shadow:0 0 50px rgb(25,0,255),inset 0 0 50px rgb(25,0,255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition:0.5s;
    animation:animate3 8s linear infinite;
    
}
@keyframes animate1{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes animate2{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes animate3{
    0%{
        transform:rotate(0deg);
    }  
    100%{
        transform:rotate(360deg);
    }
}     
#TextInput {
  
    background: rgba(20, 20, 35, 0.8);
    border: 0.5px solid rgb(21, 0, 255);
    border-radius: 100px;
    box-shadow: 
        0 0 10px rgb(30, 0, 255),
        inset 0 0 30px rgba(13, 16, 26, 0.4);
    padding: 10px 25px;
    margin: 0px 20%;
    transition: all 0.5s ease;
}


 .input-field {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-family: 'poppins', sans-serif;
     position: relative;
  z-index: 10;
    

}

.glow-on-hover{
    width:30px;
    height:30px;
    border:none;
    outline:none;
    color:white;
    background:#111;
    cursor:pointer;
    position:relative;
    border-radius: 12px;
    z-index: 0;
    padding: 0px;
    margin-left: 10px;
    transition: all 0.4s ease;

} 
.glow-on-hover:before{
    content:'';
    position:absolute;
    top:-3px;
    left:-3px;
    width:calc(100% + 6px);
    height:calc(100% + 6px);
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);
    background-size:400%;
    filter:blur(5px);
    opacity:0;
 transition: opacity 0.6s ease-in-out;
    animation: glowing 15s linear infinite;
    border-radius: 12px;
    z-index:-1;

}
.glow-on-hover:hover:before{
    opacity: 1;
}
.glow-on-hover:active{
    color: #181818a8;
    

}
.glow-on-hover:active:after {
    background: transparent;

  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }

  @keyframes softPulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);
    }
    50% {
        box-shadow: 0 0 25px rgba(0, 191, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);
    }
}

#TextInput:focus-within {
    animation: softPulse 2.5s infinite ease-in-out;
}

#siri-container {
    width: 800px;
    height: 200px;
    position: relative
    
   
}




